[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
requests = "==2.24.0"
django-cors-headers = "==3.5.0"
djangorestframework = "==3.11.2"
djangorestframework-simplejwt = "==4.4.0"
Django = "==3.1.6"
drf-yasg = "==1.17.1"

[requires]
python_version = "3.7"
